body {
    font-family: monospace, lucida;
    background-color: black;
    overflow: hidden;
    position: relative;
    margin: 0;
    height: 100vh;
    z-index: -1;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.header {
    color: #e5d4ed;
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: center;
    left: 50vw;
    top: 8vh;
    z-index: -1;
    text-align: center;
}
.main{
    position: absolute;
    transform: translate(-50%, 0%);
    transform-origin: center;
    left: 50vw;
    top: 12vh;
    z-index: -1;
    color: #e5d4ed;
    text-align: center;
}
.foot {
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: center;
    color: #e5d4ed;
    text-align: center;
    left: 50vw;
    bottom: 6vh;
}
.frontcard {
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 500px;
    height: 93vh;
    background-color: #5941a9;
    border-radius: 5%;
    top: 49vh;
    left: 50vw;
    opacity: 0.8;
    z-index: -2;
}
.frontcard::before{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 93vh;
    background-color: #5941a9;
    border-radius: 5%;
    top: 50%;
    left: 50%;
    z-index: -2;
}
.backcard{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 500px;
    height: 93vh;
    background-color: #e5d4ed;
    border-radius: 5%;
    top: 49vh;
    left: 50vw;
    filter: blur(30px);
    transition: width 0.5s, height 0.5s;
    z-index: -3;
}
.stars {
    position: absolute;
    z-index: -3;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    animation: twinkle 1s infinite ease-in-out;
}

.sun {
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    background-color: rgb(250, 234, 88);
    border-radius: 50%;
    background-image: url("sun.jpg");
    cursor:pointer;
    border: 20px;
    transition: width 0.5s, height 0.5s;
    animation: spin 60s linear infinite;
}
.sun::before {
    content: "";
    position: absolute;
    width: 100px; 
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(250, 234, 88);
    border-radius: 50%;
    filter: blur(100px);
    opacity: 1;
    z-index: -1;
}
.sun::after {
    content: "";
    position: absolute;
    width: 100px; 
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("sun.jpg");
    border-radius: 50%; 
    z-index: 1; 
}
.sun:hover {
    width: 120px;
    height: 120px;
}
@keyframes spin {
    0% {
        transform:translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform:translate(-50%, -50%) rotate(360deg);
    }
}